# requirements.txt

# Core ML & Data Processing

numpy==1.26.4
pandas==2.2.2

# Feature Scaling (used in pipeline)

scikit-learn==1.5.1

# Model Saving

joblib==1.4.2

# Backend (FastAPI)

fastapi==0.115.0
uvicorn==0.30.6

# Optional (for type validation / performance)

pydantic==2.8.2
